AWS_REGION=us-east-1
SECRET_NAME=slack/details-secrets
SERVICE_ACCOUNT_SECRET_KEY=gdrive_service_account_json
ARCHIVE_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/127358876344/drive-s3-archive-queue
S3_BUCKET=techsara-drive-live-archive
S3_PREFIX=
INSTANCE_ID=i-0808ea5884313b7c6
IDLE_STOP_MINUTES=10
SQS_WAIT_SECONDS=20
VISIBILITY_TIMEOUT=3600
PART_SIZE_MB=16
FILE_INDEX_PREFIX=file-index